#p1 {
    color: green;
}

#p2 {
    color: greenyellow;
}

#p3 {
    color: red;
}

#p4 {
    color: rebeccapurple;
}

#p5 {
    color: aqua;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

#p6 {
    color: brown;
}