@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5d04e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.big_card{
    background-color: #fff;
    width: 370px;
    border-radius: 17px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    padding: 15px 2px;
    font-family: "Figtree", serif;
    padding: 18px 20px;
}

header img{
    width: 100%;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-bottom: 18px;
}

#p1{
    padding: 5px;
    background-color: #f4cf4f;
    font-size: 15px;
    border-radius: 4px;
    text-align: center;
    width: 76px;
    border-radius: 5px;
    font-weight: 950;
}

#p2{
    padding-top: 18px;
    padding-bottom: 18px;
    font-weight: 500;
}

h1{
    padding-bottom: 18px;
    font-size: 24px;
}

main p{
    opacity: 65%;
    padding-bottom: 18px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left; 
}

footer img{
    width: 40px;
}

footer p{
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 950;
}