
table, td, th{
    border: 3px solid red;
    border-collapse: collapse;
    padding: 10px;
    border-style: dashed; 
    /*border-style კიდევ ბევრი შეგვიძლია, მაგალითად: dotted, double  და ა.შ  */
}